body::-webkit-scrollbar{
    display: none;
  }
  h1, h2, h3, h4, h5, h6 {
    color: #333333;
    font-weight: 400;
    margin-top: 0;
    font-family: "Poppins", sans-serif;
  }
.backimg{
    background-image: url(images/bg1.webp);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat no-repeat;
}
.imageoverlay{
    background-color: rgba(0, 0, 0, 0.579);
    
    height: 100vh;
}
.signin{
    background-color: #F4181C;
    color: white;
    padding: 10px;
    width: 120px;
    padding-top: 8px;
    transition: ease-in-out;
    transition-duration: 0.3s;
}
.signin:hover{
    color: #F4181C;
    background-color: white;
}
.herotitle{
    font-size: 58px;
    font-weight: 600;
}
.herosubtitle{
    font-size: 24px;
    font-weight: 400;
}
.heropara{
    font-size: 17px;
}
.heroinput{
    height: 60px;
}
.herobtn{
    background-color: #F4181C;
    height: 62px;
    color: white;
    font-weight: 600;
    border-radius: 8px;
    transition: ease-in-out;
    transition-duration: 0.3s;
}
.herobtn:hover{
    background-color: #CF0408;
}
/* ----------------------------------------------hero end------------------------------------------------ */
/*------------------------------------------ tv section start -------------------------------------------*/
.tv{
    background-color: #12222D;
    height: 95vh;
}
.tvhead{
    font-size: 40px;
    font-weight: 650;
}
.tvsubtitle{
    
    font-size: 24px;
    font-weight: 400;
}

/* 
<!--------------------------------------------- tv section end ------------------------------->
<!--------------------------------------------- count section start -------------------------------> */
.countbg{
    background-color: black;
    /* height: 45vh; */
}
.countfont{
    color: #F4181C;
    font-size: 48px;
    font-weight: 700;
}
.counttitle{
    font-size: 24px;
    font-weight: 500;
    margin-top: -20px;
}
.card1{
    background-color: #222222;
    overflow: hidden;
    
}
.listplan li{
    margin-top: 20px;
}

.planhead{
    font-size: 50;
    font-weight: 700;
}
.planbtn{
    background-color: #F4181C;
    color: white;
    padding: 12px;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 8px;
    transition: ease-in-out;
    transition-duration: 0.3s;
}
.planbtn:hover{
    background-color: #333333;

}
.planbtn1{
    background-color: #333333;
    color: white;
    padding: 12px;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 8px;
    transition: ease-in-out;
    transition-duration: 0.3s;
}
.bgplan{
    height: 200px;
    width: 450px;
    background-color: #ff0000;
    border-radius: 50%;
    margin-top: -40px;
    margin-left: -90px;
    transform: rotate(-10deg);
}
.plantxt{
    transform: rotate(10deg);
    
}
.bgplan1{
    height: 200px;
    width: 450px;
    background-color: #333333;
    border-radius: 50%;
    margin-top: -40px;
    margin-left: -90px;
    transform: rotate(-10deg);
    transition: ease-in-out;
    transition-duration: 0.2s;
}
.plantxt1{
    transform: rotate(10deg);
    
}
.card1:hover .bgplan1{
    background-color: #ff0000;
   
}
.card1:hover .planbtn1{
    background-color: #ff0000;
   
}
.card1:hover .planbtn1:hover{
    background-color: #333333;
   
}
.planprice{
    font-size: 34px;
    font-weight: 700;
}
.movieimg{
    border-radius: 10px;

}
.movieimg1{
    border-radius: 10px;
    overflow: hidden;


}
.movieimg1:hover img{
    transition: ease-in-out soo;
    transition-duration: 0.9s;
    transform: scale(1.2); 
}

/* ----------------------question start--------------------------- */
.question{
    background-color: #000000;
    width: 100%;
    font-size: 22px;
    font-weight: 500;
}
.questionbg{
    background-color: #12222D;
}
.my-button {
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 5px;
}

.my-button.clicked {
    background-color: #ff0000;
}
/* p----------------------question end--------------------------- */
  /* ------------------------footer start--------------------- */
  .footlink{
    font-size: 16px;
    font-weight: 400;
    color: white;
    transition: all ease-in-out;
    transition-duration: 0.2s;
  }
  .footlink:hover{
    color:#F4181C;
 }
  .footlink1{
    font-size: 15px;
    font-weight: 400;
    color: white;
    transition: all ease-in-out;
    transition-duration: 0.2s;
  }
  .footlink1:hover{
    color:#F4181C;
 }
 .footimgb{
    height: 60px;
    overflow: hidden;
 }
.imgfoot{
    height: 20px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat no-repeat;
    transition: all ease-in-out;
    transition-duration: 0.2s;
}
.imgfoot:hover{
    transform: scale(1.3);
}
.footsignin{
    background-color: #F4181C;
    color: white;
    margin-left: 5px;
    padding: 10px;
    width: 180px;
    padding-top: 8px;
    transition: ease-in-out;
    transition-duration: 0.3s;
}
.footsignin:hover{
    color: #F4181C;
    background-color: white;
}
.iconimg{
    background-color: #3b5998;
    border-radius: 100%;
    margin-left: 5px;
    color: white;
    padding: 9px;
    padding-left: 15px;
    padding-right: 15px;
    transition: ease-in-out;
    transition-duration: 0.3s;
}
.iconimg:hover{
    background-color: rgb(0, 0, 0);
}
.ticon{
    background-color: #55acee;
    margin-left: 5px;

    border-radius: 100%;
    color: white;
    /* height: 200px; */
    padding: 9px;
    padding-left: 12px;
    padding-right: 12px;
    transition: ease-in-out;
    transition-duration: 0.3s;
}
.ticon:hover{
    background-color: rgb(0, 0, 0);
}
.licon{
    background-color: #0082ca;
    margin-left: 5px;

    border-radius: 100%;
    color: white;
    /* height: 200px; */
    padding: 9px;
    padding-left: 12px;
    padding-right: 12px;
    transition: ease-in-out;
    transition-duration: 0.3s;
}
.licon:hover{
    background-color: rgb(0, 0, 0);
}
.instaicon{
    background-color: #E4405F;
    border-radius: 100%;
    color: white;
    margin-left: 5px;

    /* height: 200px; */
    padding: 9px;
    padding-left: 12px;
    padding-right: 12px;
    transition: ease-in-out;
    transition-duration: 0.3s;
}
.instaicon:hover{
    background-color: rgb(0, 0, 0);
}
  /* ------------------------footer end--------------------- */
  /* -------------------------------------------------------registration--------------------------------------- */
  .regbg{
    background-image: url(images/loginimghead.webp);
    height: 60vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat no-repeat;
  }

  .login{
    background-color: #ffffff;
    color: rgb(3, 3, 3);
    padding: 10px;
    width: 100px;
    border: 0;
    padding-top: 8px;
    transition: ease-in-out;
    transition-duration: 0.3s;
}
.login:hover{
     color: #ffffff;
     background: rgb(2,84,182);
     background: linear-gradient(0deg, rgba(2,84,182,1) 52%, rgba(13,154,223,1) 94%);
}
.regtitle{
    font-size: 36px;
    font-weight: 700;
    color: white;
}
.loghed{
    font-size: 28px;
    font-weight: 800;
    color: #0259AE;
}
.reghed{
    font-size: 28px;
    font-weight: 700;
    color: #000000;
}
.reghed:hover{
    color: #0259AE;
}
.footreg{
    background-image: url(images/regfoot.webp);
    background-repeat: no-repeat no-repeat;
    height: 100%;
}

.foothed {
    font-weight: 600;
    color: #ffffff;
  }
  .footlist{
    color: white;
    text-decoration: none;
  }
  .heroreg{
    height: 100vh;
  }


  /*---------------------------------------------------- movie------------------------------------------------------- */
  .movienav{
    background-color: #000000;
  }
  .subheadmovie{
    background-color: #1E272D;
  }
  .maviehead{
    font-weight: 500;
    transition:all ease-in-out;
    transition-duration: 0.3s;

  }
  .maviehead:hover{
    color: #F4181C;

  }
  .subscribe{
    background-color: #F4181C;
    color: white;
    padding: 10px;
    width: 140px;
    padding-top: 8px;
    transition: ease-in-out;
    transition-duration: 0.3s;
}
.subscribe:hover{
    color: #F4181C;
    background-color: white;
}
.subheadmiviesub{
    font-weight: 700;
    font-size: 28px;
}
.movievideo{
    background-color: #000000;
}
video{
    height: 100%;
    width: 100%;
}
.dirname{
    color: #F4181C;
    font-weight: 600;
    font-size: 18px;
}
.paramovie{
    color: #DDDDDD;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
}

/*------------------------------------ horizontal scroll--------------------------------------------------- */

.cards-wrapper1 {
    overflow-x: hidden;
    white-space: nowrap;
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    overflow: auto;
    padding-right: var(--page-margin);
    
    .card2 {
      display: grid;
      place-content: center;
      border-radius: 15px;
      font-size: 1.5rem;
      height: 25rem;
      min-width: 16rem;
    }
  }

  body::-webkit-scrollbar{
    display: none;
  }
  .cards-wrapper1::-webkit-scrollbar{
    display: none;
  }

/* hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh */
@import url(https://fonts.googleapis.com/css?family=Raleway);

*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}

/* body{
  background: #f9f9f9;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
} */



/* .container{
  padding: 1em 0;
  float: left;
  width: 50%;
} */
/* @media screen and (max-width: 640px){
  .container{
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 900px){
  .container{
    width: 33.33333%;
  }
}

.container .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
} */

/* .fadeIn-bottom{
  top: 80%;
} */
.moviemovie{
    background-color: #1E272D;
}

/*---------------------------------------- register footer---------------------- */
.explore{ 
  color: #ffffff; 
} 
 
.explore:hover{ 
  color:#ffffff ; 
   
} 
.fb { 
  padding: 5px; 
  width: 30px; 
  text-align: center; 
  text-decoration: none; 
} 
 
.fb:hover { 
  opacity: 0.7; 
} 
 
.fb{ 
  background: #0a41b8; 
  color: white; 
} 
 
.lkn { 
  padding: 5px; 
  width: 30px; 
  text-align: center; 
  text-decoration: none; 
} 
 
.lkn:hover { 
  opacity: 0.7; 
} 
 
.lkn{ 
  background: #3862be; 
  color: white; 
} 
 
.yt { 
  padding: 5px; 
  width: 30px; 
  text-align: center; 
  text-decoration: none; 
} 
 
.yt:hover { 
  opacity: 0.7; 
} 
 
.yt{ 
  background: #fd2201; 
  color: white; 
} 
 
.insta { 
  padding: 5px; 
  width: 30px; 
  text-align: center; 
  text-decoration: none; 
} 
 
.insta:hover { 
  opacity: 0.7; 
} 
 
.insta{ 
  background: #c63916; 
  color: white; 
} 
 
.fdate{ 
  color: #f7551a; 
} 
 

.footbanner{ 
  background-size: cover; 
  background-position: center; 
  background-image: url('images/regfoot.webp'); 
  /* height: 450px;  */ 
  height: 100%; 
} 

.help{ 
color: #ffffff; 
font-weight: 450; 
} 

.help:hover{ 
color: #0259ae; 
} 

.breadhome{ 
color: #ffffff; 
text-decoration: none; 
} 

.breadhome:hover{ 
color: #0259ae; 
} 

/*---------------------------------------- register footer---------------------- */
